.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex: 1;

    .signup-form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    input::placeholder{
        font-size: 13px;
    }
    textarea::placeholder{
        font-size: 13px;
    }
}